<!DOCTYPE html>
<html lang="en">
<head>
    <body style="background-image: url('https://images.pexels.com/photos/7130534/pexels-photo-7130534.jpeg?auto=compress&cs=tinysrgb&w=12600&h=7500&dpr=1');">


    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

<form action="login" method="post">
    {% csrf_token %}

     <input type="text" name="username" placeholder="UserNames"><br>
    <input type="text" name="password" placeholder="enter your password"><br>
    <input type="submit">


</form>

</body>
</html>